.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.myInput {
  background: transparent;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  outline: none;
  width: 25px;
  text-align: center;
}
hr {
  border: none; /* Убираем границу */
  background-color: lightgray; /* Цвет линии */
  color: lightgray; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-align: center;
  margin-left: 5px;
}
.cellwidth {
  width: 25px;
}
.nav {
  background-color: blue;
}
.lang__switch {
  font-size: 15px;
  line-height: 18px;
  border: none;
  outline: none;
  margin-left: 62px;
  color: #1c305c;
}
.discipline-select {
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;

  width: 228px;
  height: 30px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin-left: 5px;
  margin-top: 22px;
}
.discipline-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #bababa;

  width: 180px;
  padding-top: 27px;
  padding-left: 50px;
  height: 20px;
}
.display-flex {
  display: flex;
}
/* .line-cell {
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
} */
.journal-name {
  width: 511px;
  height: 22px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 110%;
  /* identical to box height, or 22px */

  text-transform: uppercase;

  color: #393939;

  padding-top: 35px;
  padding-left: 50px;
}
.special-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  padding-top: 27px;
  padding-left: 25px;
  color: #bababa;
  height: 20px;
}
/* .line-up {
  border-top: 1px solid rgba(224, 224, 224, 1);
} */
.line-data
{
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-top: 1px solid rgba(224, 224, 224, 1);
}
.line-grade
{
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.line-stud
{
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
}
.line-fio
{
  border-left: 1px solid rgba(224, 224, 224, 1);
  border-right: 1px solid rgba(224, 224, 224, 1);
  border-top: 1px solid rgba(224, 224, 224, 1);
}
.special-select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;

  width: 228px;
  height: 30px;

  margin-left: 5px;
  margin-top: 22px;
}
.course-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  width: 39px;
  height: 20px;

  color: #bababa;
  padding-left: 50px;
  padding-top: 32px;
}
.course-input {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;

  width: 55px;
  height: 30px;
  margin-left: 5px;
  margin-top: 27px;
}
.group-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  width: 58px;
  height: 20px;

  color: #bababa;
  padding-left: 25px;
  padding-top: 32px;
}
.group-select {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;

  width: 77px;
  height: 30px;

  margin-left: 5px;
  margin-top: 27px;
}
.view-name {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  width: 101px;
  height: 20px;

  color: #bababa;
  padding-left: 25px;
  padding-top: 32px;
}
.view-input {
  font-family: "Open Sans", sans-serif;
  width: 398px;
  height: 30px;

  background: #ffffff;
  border: 1px solid #bababa;
  box-sizing: border-box;
  border-radius: 3px;

  margin-left: 5px;
  margin-top: 27px;
}
.disp {
  display: flex;
}
.govno
{
  width: 64;
  height: 104.53;
}
.all-content
{
  padding-left: 50px;
}

.diagonal-line {
  background-image: linear-gradient(to bottom left, transparent 49%, #bababa, transparent 50%);
  background-repeat: no-repeat;
}
.dzs
{
  text-align: right;
}
.fios
{
  text-align: left;
}
.csn
{
  margin-left: 5px;
}